@charset "utf-8";

@mixin shadow($shadow...) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;
}


@mixin trans ($trans) {
	transition:$trans;
	-webkit-transition:$trans;
	-moz-transition:$trans;
	-o-transition:$trans;
	-ms-transition:$trans;
}

@mixin border-radius ($border-radius) {
	border-radius:$border-radius;
	-webkit-border-radius:$border-radius;
	-moz-border-radius:$border-radius;
	-o-border-radius:$border-radius;
	-ms-border-radius:$border-radius;
}

*, ::after, ::before {
    box-sizing: border-box;
}
/* font-family: "FuturaPT"; */
@font-face { font-family: "FuturaPT"; src: url("../fonts/FuturaPT/FuturaPT-Book.eot"); src: url("../fonts/FuturaPT/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT/FuturaPT-Book.ttf") format("truetype"); font-style: normal; font-weight: normal; }


body {font-family: 'FuturaPT', sans-serif; font-size: 16px;font-weight: 400;background: #ffffff;color:#000; min-height: 100vh;margin: 0;line-height: 1.5;text-align: left;}

input, button {
    &:focus {box-shadow: none; outline:0;}
}
a {color: #000; text-decoration: none;}
article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
img { max-width: 100%; height:auto;vertical-align: middle; border-style: none; }

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

/*header*/
header {
    background: #414292;
    padding: 95px 0 10px;    
    background: url('../img/header_back.png')no-repeat 0% 0%;
    background-size: cover;
}
.h {
    &-top {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        margin-bottom: 55px;
        flex-wrap: wrap
    }
    &-logo {
        padding-top: 14px;
    }
    &-info {
        color: #fff;
        font-weight: 700;
        font-size: 26px;
        line-height: 30px;
    }
    &-txt {
        &-cont {
            height: 105px;
            overflow: hidden;
            margin-bottom: 13px;
        }
        p, a {
            color: #fff;
        }
        p {
            font-size: 18px;
            margin: 0 0 15px;

        }
        .more {
            font-size: 16px;
            line-height: 21px;
            text-decoration: underline;
        }
    }
    &-btm {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 71px;
            
    }
    &-menu {
        width: 100%;
        max-width: 677px;
        margin-bottom: 15px;
        ul {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            padding-top: 10px;
            justify-content: space-between;
            li {
                a {
                    font-size: 15px;
                    line-height: 30px;
                    color: #fff;
                }
            }
        }
    }
    &-btn {
        border: 2px solid #fff;
        color: #fff;
        font-size: 16px;
        line-height: 21px;
        padding: 9px 36px;
        margin-bottom: 15px;
        &:hover {
            background: #fff;
            color: #414292;
        }
    }
}
@media(max-width: 991px){
    .h {
        &-logo {
            text-align: center;
            width: 100%;
        }
        &-info {
            display: none;
        }
        &-txt {
            display: none;
        }
        &-btm {
            display: none;
        }
    }
}
/*header*/

.wraper {
    padding-top: 95px;
}

.content-row {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content-sm {
    width: 100%;
    max-width: 460px;
}
.content-md {
    width: 100%;
    max-width: 712px;
}
.content-lg {
    width: 100%;
}

.content-bl {
    border: 2px solid #f2f2f2;
    overflow: hidden;
    border-radius: 4px;
    padding: 25px 0 0;
    position: relative;
    height: 100%;
    &-ttl {
        padding: 0 43px;
        font-weight: 700;
        font-size: 26px;
        line-height: 30px;
    }
    &-txt {
        padding: 0 43px;
        font-size: 16px;
        line-height: 21px;
        margin-top: 3px;
        margin-bottom: 7px;
    }
    &-arr {
        position: absolute;
        width: 21px;
        height: 20px;
        z-index: 2;
        top: 36px;
        right: 39px;
        &:before {
            content: '';
            position: absolute;
            width: 7px;
            height: 7px;
            top: 0;
            right: 0;
            display: block;
            border-top: 2px solid #000;
            border-right: 2px solid #000;
        }    
        &:after {
            content: '';
            position: absolute;
            width: 7px;
            height: 7px;
            bottom: 0;
            left: 0;
            display: block;
            border-bottom: 2px solid #000;
            border-left: 2px solid #000;
        } 
    }
    &-row {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        padding: 0 43px;
        justify-content: space-between;
        max-width: 1073px;
        margin: 18px auto 0;
    }
    &-img {
        position: relative;
    }
    &-btn {
        position: absolute;
        font-size: 15px;
        line-height: 19px;
        color: #fff;
        background: #414292;
        padding: 10px 31px;
        right: 25px;
        bottom: 25px;
        border-radius: 2px;      
        display: block;
    }
	
	&-path {
		display: none;
	}
    &-circ {
        width: 19px;
        height: 19px;
        display: block;
        position: absolute;
        background: #414292;
        border: 2px solid #fff;
        top: 0;
        left: 0;
        border-radius: 50%;
        box-shadow: 0px 3px 4px 1px #0000000d;
        &.sm1 {
            top: 37%;
            left: 71%;
        }

        &.sm2 {
            top: 20%;
            right: 77%;
            left: auto;
        }

        &.sm3 {
            top: 28%;
            right: 48%;
            left: auto;
        }

        &.sm4 {
            top: 23%;
            left: 33%;
        }
        &.sm5 {
            top: 17%;
            left: 36%;
        }
        &.sm6 {
            top: 38%;
            left: 37%;
        }
        &.sm7 {
            top: 65%;
            left: 42%;
        }
        &.sm8 {
            top: 53%;
            left: 29%;
        }
        &.sm9 {
            top: 60%;
            left: 28%;
        }
        &.sm10 {
            top: 67%;
            left: 30%;
        }
        &.sm11 {
            top: 36%;
            left: 88%;
        }
        &.sm12 {
            top: 8%;
            left: 33%;
        }
        &.sm13 {
            top: 48%;
            left: 83%;
        }
        &.sm14 {
            top: 50%;
            left: 43%;
        }
        &.sm15 {
            top: 37%;
            left: 50%;
        }
        &.sm16 {
            top: 34%;
            left: 21%;
        }
        &.sm17 {
            top: 60%;
            left: 39%;
        }
        &.sm18 {
            top: 65%;
            left: 51%;
        }
        &.md1 {
            top: 38%;
            left: 0%;
        }
        &.md2 {
            top: 52%;
            left: 5%;
        }
        &.md3 {
            top: 60.5%;
            left: 23%;
        }
        &.md4 {
            top: 13%;
            left: 54%;
        }
        &.md5 {
            top: 32%;
            left: 86%;
        }
        &.md6 {
            top: 28%;
            left: 42%;
        }
        &.md7 {
            top: 28%;
            left: 69%;
        }
        &.md8 {
            top: 35%;
            left: 51%;
        }
        &.md9 {
            top: 58%;
            left: 56%;
        }
        &.md10 {
            top: 44%;
            left: 74%;
        }
        &.md11 {
            top: 49%;
            left: 34%;
        }
        &.md12 {
            top: 62%;
            left: 40%;
        }
        &.md13 {
            top: 66%;
            left: 81%;
        }
        &.md14 {
            top: 77%;
            left: 48%;
        }
        &.md15 {
            top: 54%;
            left: 11%;
        }
        &.md16 {
            top: 24%;
            left: 16%;
        }
        &.lg1 {
            top: 23%;
            left: auto;
            right: 11%;
        }

        &.lg2 {
            top: auto;
            left: auto;
            right: 11%;
            bottom: 15px;
        }

        &.lg3 {
            top: 23%;
            left: auto;
            right: 11%;
        }

        &.lg4 {
            top: auto;
            left: auto;
            right: 11%;
            bottom: 15px;
        }

        &.lg5 {
            top: 23%;
            left: auto;
            right: 22%;
        }

        &.lg6 {
            top: auto;
            left: auto;
            right: 22%;
            bottom: 15px;
        }

        &.lg7 {
            top: 23%;
            left: auto;
            right: 24%;
        }

        &.lg8 {
            top: auto;
            left: auto;
            right: 24%;
            bottom: 15px;
        }

        &.lg9 {
            top: 23%;
            left: auto;
            right: 45%;
        }

        &.lg10 {
            top: auto;
            left: auto;
            right: 45%;
            bottom: 15px;
        }        
        &:before {
            content: '';
            width: 5px;
            height: 5px;
            background: #fff;
            border-radius: 5px;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin: 0 auto;
            margin-top: -2.5px;
        }
    }
}

.content-md, .content-lg {
    .content-bl {
        &-arr {
            &:after {
                content: '';
                position: absolute;
                width: 7px;
                height: 7px;
                bottom: 0;
                left: 0;
                display: block;
                border-bottom: 2px solid #000;
                border-left: 2px solid #000;
            }   
        }
    }
}
.content-md, .content-lg, .content-sm {
    margin-bottom: 35px;
}

@media(min-width: 1200px){
	.content-bl {
		&-circ {
			&:hover {
				.content-bl-path {
					position: absolute;
					display: block;
					height: 60px;
					width: 328px;
					bottom: 0;
					left: 100%;
				    pointer-events: none;
					&.reverse {
					    transform: rotate3d(1, 0, 0, 180deg);	
						bottom: auto;
						top: 0;
					}
					.line1 {
						height: 1px;
						width: calc(50% - 8px);
						background: #000;
						position: absolute;
						left: 0;
						bottom: 8px;
					}

					.line2 {
						height: calc(100% - 36px);
						width: 1px;
						background: #000;
						position: absolute;
						left: 0;
						right: 0;
						bottom: 0;
						top: 0;
						margin: auto;
					}

					.line3 {
						height: 1px;
						width: calc(50% - 8px);
						background: #000;
						position: absolute;
						right: 0;
						top: 8px;
					}

					.corner1 {
						position: absolute;
						left: 0;
						right: 14px;
						bottom: 8px;
						width: 14px;
						height: 14px;
						margin: 0 auto;
						border-bottom: 1px solid #000;
						border-right: 1px solid #000;
						border-radius: 0px 0px 10px 0px;
					}

					.corner2 {
						position: absolute;
						left: 14px;
						right: 0;
						top: 8px;
						width: 14px;
						height: 14px;
						margin: 0 auto;
						border-top: 1px solid #000;
						border-left: 1px solid #000;
						border-radius: 10px 0px 0px 0px;
					}
					&.inline {
						.line1 {width: 99%;}
						.line2, .line3, .corner1, .corner2 {
							display: none;
						}
					}
				}
			}
		}
	}
}
@media(max-width: 991px){
    .content {
        &-row {
            flex-direction: column;
            align-items: center;
        }
        &-bl {
            &-row {
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
    }
    .content-sm, .content-md  {
        .content-bl {
            padding-bottom: 70px;
        }
    }
}

/*modal*/
.modal_auth_wp {
    .fancybox-skin {
        background: #fff;
    }
    .fancybox-close {
        top: 6px;
        right: 19px;
        background: none;
        &:before {content: '×';font-size: 32px;} 
    }   
}
.modal {
    &_auth {
        width: 1230px;
        max-width: 100%;
    }
    &-row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    &-col {
        width: 100%;
        max-width: 50%;
        &:first-child {
            padding-bottom: 40px;
            border-right: 2px solid #E5E5E5;
        }
        &:last-child {
            padding-left: 100px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
        }
    }
    &-ttl {
        font-weight: 700;
        font-size: 22px;
        padding-top: 118px;
        margin-bottom: 56px;
        span {
            color: #414291;
        }
    }
    &-img {
        position: relative;
        display: inline-block;
    }
    &_menu-img {
        border-radius: 50%;
        position: absolute;
        right: 62px;
        display: none;
        background: #fff;
        &.right {
            right: auto;
            left: -25px;
        }
        &.left {
            left: auto;
            right: 0;
        }
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: #fff;
            z-index: 1;
        }        
        img {
            width: 245px;
            height: 245px;
            border-radius: 50%;
            position: relative;
            z-index: 2;
        }
    }    
    &-menu {
        display: flex;
        flex-wrap: wrap;
        max-width: 450px;
        position: relative;
        &-itm {
            width: 50%;
        }
        a {
            padding-right: 25px;
            position: relative;
            min-height: 1px;
            font-size: 18px;
            line-height: 30px;
            display: inline-block;
        }
        &:hover, &.hover{
            a {opacity: 0.3;
                &:hover, &.hover {
                    opacity: 1;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 28px;
                    &:before {
                        content: '';
                        width: 5px;
                        height: 10px;
                        background: url('../img/modal_menu-arr.svg')no-repeat 0% 0%;
                        position: absolute;
                        right: 10px;
                        top: 9px;
                    }
                }
                &:nth-child(2n){
                    padding-left: 25px;
                    padding-right: 0px;
                    &:hover, &.hover {
                        &:before {
                            transform: rotate(180deg);
                            left: 10px;
                        }
                    }
                }
            }
            .modal_menu-img {
                display: block;
            }
        }
    }
    &-btn {
        max-width: 450px;
        display: flex;
        justify-content: flex-end;
        a{
            color: #fff;
            background: #414292;
            padding: 10px 39px;
            display: block;
            margin-top: 50px;
            border-radius: 4px;
            align-self: flex-end;
            margin-right: 34px;
            font-size: 15px;
            line-height: 19px;
        }
    }
    &-use {display: flex;justify-content: center;padding-top: 13px;
        &-bl {
            display: flex;
            align-items: center;
            padding-right: 30px;
            img, svg {
                border: 1px solid #2F2F2F;
                width: 40px;
                height: 40px;
                margin-right: 10px;
                border-radius: 4px;
                padding: 5px;
            }
            &:hover {
                color: #414292;
                svg {
                    background: #414292;
                    border: 1px solid #414292;
                    path{fill: #fff}
                }
                span {
                    color: #414292;
                }
            }
        }
    }
}
/*modal*/
@media(max-width: 991px){
    .modal {
        &-use {flex-direction: column;}
        &-col {max-width: 100%;}
    }
    .modal_menu-img {display: none;}
}

/*footer*/
footer {
    margin-top: 30px;
    background: url('../img/footer_back.png')no-repeat 0% 0%;
    background-size: cover;
}
.f {
    &-logo {
        padding-top: 7px;
    }    
    &-row {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 46px 0;
    }

    &-menu {
        width: 100%;
        max-width: 677px;
        margin-bottom: 15px;
        ul {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            padding-top: 10px;
            justify-content: space-between;
            li {
                a {
                    font-size: 15px;
                    line-height: 30px;
                    color: #2F2F2F;
                    font-weight: 600;
                }
            }
        }
    }
    &-btn {
        margin-bottom: 15px;
        a {
            display: block;
            border: 2px solid #414292;
            color: #414292;
            font-size: 16px;
            line-height: 21px;
            padding: 9px 36px;
            &:hover {
                background: #414292;
                color: #fff;
            }
        }    
    }    
}
@media(max-width: 991px){
    .f {
        &-logo {
            text-align: center;
            width: 100%;
        }
        &-menu {
            display: none;
        }
        &-btn {
            display: none;
        }
    }
}
/*footer*/