@charset "UTF-8";
*, ::after, ::before { box-sizing: border-box; }

/* font-family: "FuturaPT"; */
@font-face { font-family: "FuturaPT"; src: url("../fonts/FuturaPT/FuturaPT-Book.eot"); src: url("../fonts/FuturaPT/FuturaPT-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaPT/FuturaPT-Book.woff") format("woff"), url("../fonts/FuturaPT/FuturaPT-Book.ttf") format("truetype"); font-style: normal; font-weight: normal; }
body { font-family: 'FuturaPT', sans-serif; font-size: 16px; font-weight: 400; background: #ffffff; color: #000; min-height: 100vh; margin: 0; line-height: 1.5; text-align: left; }

input:focus, button:focus { box-shadow: none; outline: 0; }

a { color: #000; text-decoration: none; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section { display: block; }

img { max-width: 100%; height: auto; vertical-align: middle; border-style: none; }

.container { width: 100%; max-width: 1230px; padding: 0 15px; margin: 0 auto; }

/*header*/
header { background: #414292; padding: 95px 0 10px; background: url("../img/header_back.png") no-repeat 0% 0%; background-size: cover; }

.h-top { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; justify-content: space-between; margin-bottom: 55px; flex-wrap: wrap; }
.h-logo { padding-top: 14px; }
.h-info { color: #fff; font-weight: 700; font-size: 26px; line-height: 30px; }
.h-txt-cont { height: 105px; overflow: hidden; margin-bottom: 13px; }
.h-txt p, .h-txt a { color: #fff; }
.h-txt p { font-size: 18px; margin: 0 0 15px; }
.h-txt .more { font-size: 16px; line-height: 21px; text-decoration: underline; }
.h-btm { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; justify-content: space-between; flex-wrap: wrap; padding-top: 71px; }
.h-menu { width: 100%; max-width: 677px; margin-bottom: 15px; }
.h-menu ul { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; list-style: none; padding: 0; margin: 0; padding-top: 10px; justify-content: space-between; }
.h-menu ul li a { font-size: 15px; line-height: 30px; color: #fff; }
.h-btn { border: 2px solid #fff; color: #fff; font-size: 16px; line-height: 21px; padding: 9px 36px; margin-bottom: 15px; }
.h-btn:hover { background: #fff; color: #414292; }

@media (max-width: 991px) { .h-logo { text-align: center; width: 100%; }
  .h-info { display: none; }
  .h-txt { display: none; }
  .h-btm { display: none; } }
/*header*/
.wraper { padding-top: 95px; }

.content-row { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; flex-wrap: wrap; justify-content: space-between; }

.content-sm { width: 100%; max-width: 460px; }

.content-md { width: 100%; max-width: 712px; }

.content-lg { width: 100%; }

.content-bl { border: 2px solid #f2f2f2; overflow: hidden; border-radius: 4px; padding: 25px 0 0; position: relative; height: 100%; }
.content-bl-ttl { padding: 0 43px; font-weight: 700; font-size: 26px; line-height: 30px; }
.content-bl-txt { padding: 0 43px; font-size: 16px; line-height: 21px; margin-top: 3px; margin-bottom: 7px; }
.content-bl-arr { position: absolute; width: 21px; height: 20px; z-index: 2; top: 36px; right: 39px; }
.content-bl-arr:before { content: ''; position: absolute; width: 7px; height: 7px; top: 0; right: 0; display: block; border-top: 2px solid #000; border-right: 2px solid #000; }
.content-bl-arr:after { content: ''; position: absolute; width: 7px; height: 7px; bottom: 0; left: 0; display: block; border-bottom: 2px solid #000; border-left: 2px solid #000; }
.content-bl-row { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; flex-wrap: wrap; padding: 0 43px; justify-content: space-between; max-width: 1073px; margin: 18px auto 0; }
.content-bl-img { position: relative; }
.content-bl-btn { position: absolute; font-size: 15px; line-height: 19px; color: #fff; background: #414292; padding: 10px 31px; right: 25px; bottom: 25px; border-radius: 2px; display: block; }
.content-bl-path { display: none; }
.content-bl-circ { width: 19px; height: 19px; display: block; position: absolute; background: #414292; border: 2px solid #fff; top: 0; left: 0; border-radius: 50%; box-shadow: 0px 3px 4px 1px #0000000d; }
.content-bl-circ.sm1 { top: 37%; left: 71%; }
.content-bl-circ.sm2 { top: 20%; right: 77%; left: auto; }
.content-bl-circ.sm3 { top: 28%; right: 51%; left: auto; }
.content-bl-circ.sm4 { top: 23%; left: 33%; }
.content-bl-circ.sm5 { top: 15%; left: 37%; }
.content-bl-circ.sm6 { top: 38%; left: 37%; }
.content-bl-circ.sm7 { top: 65%; left: 42%; }
.content-bl-circ.sm8 { top: 53%; left: 29%; }
.content-bl-circ.sm9 { top: 60%; left: 28%; }
.content-bl-circ.sm10 { top: 67%; left: 30%; }
.content-bl-circ.sm11 { top: 42%; left: 84%; }
.content-bl-circ.sm12 { top: 8%; left: 36%; }
.content-bl-circ.sm13 { top: 48%; left: 83%; }
.content-bl-circ.sm14 { top: 50%; left: 43%; }
.content-bl-circ.md1 { top: 42%; left: -1%; }
.content-bl-circ.md2 { top: 54%; left: 0%; }
.content-bl-circ.md3 { top: 63%; left: 12%; }
.content-bl-circ.md4 { top: 12%; left: 33%; }
.content-bl-circ.md5 { top: 34%; left: 51%; }
.content-bl-circ.md6 { top: 25%; left: 22%; }
.content-bl-circ.md7 { top: 29%; left: 41%; }
.content-bl-circ.md8 { top: 35%; left: 29%; }
.content-bl-circ.md9 { top: 58%; left: 33%; }
.content-bl-circ.md10 { top: 43%; left: 45%; }
.content-bl-circ.md11 { top: 49%; left: 19%; }
.content-bl-circ.md12 { top: 63%; left: 23%; }
.content-bl-circ.md13 { top: 70%; left: 52%; }
.content-bl-circ.md14 { top: 76%; left: 29%; }
.content-bl-circ.md15 { top: 57%; left: 4%; }
.content-bl-circ.md16 { top: 18%; left: 14%; }
.content-bl-circ.lg1 { top: 23%; left: auto; right: 11%; }
.content-bl-circ.lg2 { top: auto; left: auto; right: 11%; bottom: 15px; }
.content-bl-circ.lg3 { top: 23%; left: auto; right: 11%; }
.content-bl-circ.lg4 { top: auto; left: auto; right: 11%; bottom: 15px; }
.content-bl-circ.lg5 { top: 23%; left: auto; right: 22%; }
.content-bl-circ.lg6 { top: auto; left: auto; right: 22%; bottom: 15px; }
.content-bl-circ.lg7 { top: 23%; left: auto; right: 24%; }
.content-bl-circ.lg8 { top: auto; left: auto; right: 24%; bottom: 15px; }
.content-bl-circ.lg9 { top: 23%; left: auto; right: 45%; }
.content-bl-circ.lg10 { top: auto; left: auto; right: 45%; bottom: 15px; }
.content-bl-circ:before { content: ''; width: 5px; height: 5px; background: #fff; border-radius: 5px; position: absolute; top: 50%; left: 0; right: 0; margin: 0 auto; margin-top: -2.5px; }

.content-md .content-bl-arr:after, .content-lg .content-bl-arr:after { content: ''; position: absolute; width: 7px; height: 7px; bottom: 0; left: 0; display: block; border-bottom: 2px solid #000; border-left: 2px solid #000; }

.content-md, .content-lg, .content-sm { margin-bottom: 35px; }

@media (min-width: 1200px) { .content-bl-circ:hover .content-bl-path { position: absolute; display: block; height: 60px; width: 328px; bottom: 0; left: 100%; pointer-events: none; }
  .content-bl-circ:hover .content-bl-path.reverse { transform: rotate3d(1, 0, 0, 180deg); bottom: auto; top: 0; }
  .content-bl-circ:hover .content-bl-path .line1 { height: 1px; width: calc(50% - 8px); background: #000; position: absolute; left: 0; bottom: 8px; }
  .content-bl-circ:hover .content-bl-path .line2 { height: calc(100% - 36px); width: 1px; background: #000; position: absolute; left: 0; right: 0; bottom: 0; top: 0; margin: auto; }
  .content-bl-circ:hover .content-bl-path .line3 { height: 1px; width: calc(50% - 8px); background: #000; position: absolute; right: 0; top: 8px; }
  .content-bl-circ:hover .content-bl-path .corner1 { position: absolute; left: 0; right: 14px; bottom: 8px; width: 14px; height: 14px; margin: 0 auto; border-bottom: 1px solid #000; border-right: 1px solid #000; border-radius: 0px 0px 10px 0px; }
  .content-bl-circ:hover .content-bl-path .corner2 { position: absolute; left: 14px; right: 0; top: 8px; width: 14px; height: 14px; margin: 0 auto; border-top: 1px solid #000; border-left: 1px solid #000; border-radius: 10px 0px 0px 0px; }
  .content-bl-circ:hover .content-bl-path.inline .line1 { width: 99%; }
  .content-bl-circ:hover .content-bl-path.inline .line2, .content-bl-circ:hover .content-bl-path.inline .line3, .content-bl-circ:hover .content-bl-path.inline .corner1, .content-bl-circ:hover .content-bl-path.inline .corner2 { display: none; } }
@media (max-width: 991px) { .content-row { flex-direction: column; align-items: center; }
  .content-bl-row { justify-content: center; align-items: center; flex-direction: column; }
  .content-sm .content-bl, .content-md .content-bl { padding-bottom: 70px; } }
/*modal*/
.modal_auth_wp .fancybox-skin { background: #fff; }
.modal_auth_wp .fancybox-close { top: 6px; right: 19px; background: none; }
.modal_auth_wp .fancybox-close:before { content: '×'; font-size: 32px; }

.modal_auth { width: 1230px; max-width: 100%; }
.modal-row { display: flex; flex-wrap: wrap; padding: 40px 0; }
.modal-col { width: 100%; max-width: 50%; }
.modal-col:last-child { padding-left: 60px; display: flex; flex-wrap: wrap; flex-direction: column; }
.modal-ttl { font-weight: 700; font-size: 22px; padding-top: 60px; margin-bottom: 20px; }
.modal-ttl span { color: #414291; }
.modal-img { position: relative; display: inline-block; }
.modal_menu-img { border-radius: 50%; position: absolute; right: 62px; display: none; background: #fff; }
.modal_menu-img.right { right: auto; left: -25px; }
.modal_menu-img.left { left: auto; right: 0; }
.modal_menu-img:before { content: ''; width: 100%; height: 100%; position: absolute; background: #fff; z-index: 1; }
.modal_menu-img img { width: 245px; height: 245px; border-radius: 50%; position: relative; z-index: 2; }
.modal-menu { display: flex; flex-wrap: wrap; max-width: 450px; position: relative; }
.modal-menu-itm { width: 50%; }
.modal-menu a { padding-right: 25px; position: relative; min-height: 1px; font-size: 18px; line-height: 30px; display: inline-block; }
.modal-menu:hover a, .modal-menu.hover a { opacity: 0.3; }
.modal-menu:hover a:hover, .modal-menu:hover a.hover, .modal-menu.hover a:hover, .modal-menu.hover a.hover { opacity: 1; font-size: 20px; font-weight: 700; line-height: 28px; }
.modal-menu:hover a:hover:before, .modal-menu:hover a.hover:before, .modal-menu.hover a:hover:before, .modal-menu.hover a.hover:before { content: ''; width: 5px; height: 10px; background: url("../img/modal_menu-arr.svg") no-repeat 0% 0%; position: absolute; right: 10px; top: 9px; }
.modal-menu:hover a:nth-child(2n), .modal-menu.hover a:nth-child(2n) { padding-left: 25px; padding-right: 0px; }
.modal-menu:hover a:nth-child(2n):hover:before, .modal-menu:hover a:nth-child(2n).hover:before, .modal-menu.hover a:nth-child(2n):hover:before, .modal-menu.hover a:nth-child(2n).hover:before { transform: rotate(180deg); left: 10px; }
.modal-menu:hover .modal_menu-img, .modal-menu.hover .modal_menu-img { display: block; }
.modal-btn { max-width: 450px; display: flex; justify-content: flex-end; }
.modal-btn a { font-size: 13px; color: #fff; background: #414292; padding: 10px 31px; display: block; margin-top: 50px; border-radius: 4px; align-self: flex-end; margin-right: 65px; }
.modal-use { display: flex; justify-content: center; padding-top: 13px; }
.modal-use-bl { display: flex; align-items: center; padding-right: 30px; }
.modal-use-bl img, .modal-use-bl svg { border: 1px solid #2F2F2F; width: 40px; height: 40px; margin-right: 10px; border-radius: 4px; padding: 5px; }
.modal-use-bl:hover { color: #414292; }
.modal-use-bl:hover svg { background: #414292; border: 1px solid #414292; }
.modal-use-bl:hover svg path { fill: #fff; }
.modal-use-bl:hover span { color: #414292; }

/*modal*/
@media (max-width: 991px) { .modal-use { flex-direction: column; }
  .modal-col { max-width: 100%; }
  .modal_menu-img { display: none; } }
/*footer*/
footer { margin-top: 30px; background: url("../img/footer_back.png") no-repeat 0% 0%; background-size: cover; }

.f-logo { padding-top: 7px; }
.f-row { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; flex-wrap: wrap; justify-content: space-between; padding: 46px 0; }
.f-menu { width: 100%; max-width: 677px; margin-bottom: 15px; }
.f-menu ul { display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; display: flex; list-style: none; padding: 0; margin: 0; padding-top: 10px; justify-content: space-between; }
.f-menu ul li a { font-size: 15px; line-height: 30px; color: #414292; }
.f-btn { margin-bottom: 15px; }
.f-btn a { display: block; border: 2px solid #414292; color: #414292; font-size: 16px; line-height: 21px; padding: 9px 36px; }
.f-btn a:hover { background: #414292; color: #fff; }

@media (max-width: 991px) { .f-logo { text-align: center; width: 100%; }
  .f-menu { display: none; }
  .f-btn { display: none; } }
/*footer*/

/*# sourceMappingURL=main.css.map */
